body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    background-image: url('../img/dark.png');
}
.container {
    max-width: 50%;
    margin-top: -30px;
    position: relative;
}
.header {
    font-weight: 700;
}
.card-content {
    min-height: 320px;
    overflow: none;
    margin-bottom: 0px;
}
h1 {
    color: #FF1744;
}
.fill {
    width: 100%;
}
.btn {
    display: block;
}
#quote-text {
    padding-bottom: 100px;
    color: #55acee;
    padding-top: 30px;
    max-height: 100px;
}
#quote-author {
    color: #55acee;
    padding-right: 15px;
    margin-top: 40px;
		padding-top: 10px;
}
#twitter {
    max-width: 200px;
    margin: 0 auto;
    height: 40px;
    width: 100px;
    color: #55acee;
    padding-bottom: 10px;
}
#newQuote {
    max-width: 300px;
    margin: 0 auto;
    height: 40px;
    width: 200px;
}
#icon-twitter {
    font-size: 50px !important;
    color: #55acee;
}
#border-remove {
    border: 0;
}
